            body {
                width: 100%;
                height: 100%;
                background: #000;
                color: #feda4a;
                overflow: hidden;
                }


                .parent-box {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    height: 100%; 
                    font-family: 'Pathway Gothic One', 'Arial', sans-serif;
                    font-weight: 700;
                    font-size: 55px;
                    line-height: 150%;
                    perspective: 300px;
                    text-align: justify;
                    transform-origin: 50% 100%;
                    }

                    .child-box > h2, h1 {
                        text-align: center;
                    }    
                    
                    .child-box {
                    position: relative;
                    /* transform: translateY(80%); */
                    animation: move 30s linear infinite;
                    }
                    @keyframes move {
                    0% {
                        transform: rotateX(15deg)  translateY(50%) translateZ(0);
                    }
                    100% {
                        transform: rotateX(20deg) translateY(-100%) translateZ(-200px);
                    }
                    }
                    